body {
    font-family: 'Slabo 27px', serif;
}
nav {
    border-bottom: 1px solid #ddd;
}
nav a {
    color: #000 !important;
}
.size0 {
    background: #fafafa;
}
section {
    padding: 40px 0px;
}
.post {
    border: 2px solid #f1f1f1;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.post h4 a {
    margin-left: 15px;
    color: #28a745;
    font-size: 18px;
}
.post h4 a:hover {
    text-decoration: none;
}
.logo {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.about {
    padding: 20px;
}
.footer {
    padding: 20px;
}